name: CICD Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  setupDevConginto:
    name: Setup DEV Cognito Infra
    environment:
      name: DEV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        id: creds
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: deploy cloudformation stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: tekcapsule-cognito-dev
          template: template-dev.yml
          no-fail-on-empty-changeset: "1"
          parameter-overrides: "CognitoDomain=dev.tekcapsule.com,HostedZoneId=${{ secrets.AWS_HOSTED_ZONE_ID }},EmailSourceArn=${{ secrets.AWS_EMAIL_ARN_DEV }},CertificateArn=${{ secrets.AWS_CERTIFICATE_ARN_DEV }}"
  setupProdConginto:
    name: Setup PROD Cognito Infra
    needs: setupDevConginto
    environment:
      name: PROD
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        id: creds
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: deploy cloudformation stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: tekcapsule-cognito-prod
          template: template.yaml
          no-fail-on-empty-changeset: "1"
          parameter-overrides: "CognitoDomain=tekcapsule.com,HostedZoneId=${{ secrets.AWS_HOSTED_ZONE_ID }},EmailSourceArn=${{ secrets.AWS_EMAIL_ARN_PROD }},CertificateArn=${{ secrets.AWS_CERTIFICATE_ARN_DEV }}"
